In [14]:
from ipynb.fs.defs.Support import *

In [ ]:
gen_Binaries()

In [16]:
with open('./CSVfiles/ggH.data', 'rb') as f:
    a=pickle.load(f)
a

,5,6,7,8,9,10,11,12,13,14,...,90,91,92,93,94,95,96,97,98,99
0,1,58376.0,56773.4,-0.482442,0.190522,0.802856,-2.473250,65302.3,57806.9,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,68964.7,66471.4,1.911310,2.284930,-0.928285,3.092730,238266.0,329923.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,82018.8,69614.2,1.024760,1.152120,-2.291240,2.038930,128988.0,121158.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,60740.2,57999.9,-0.040543,0.707281,2.346250,-0.823392,60790.1,73122.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,75291.0,55593.0,-0.036332,0.290745,-3.027490,0.818152,75340.7,57959.3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054705,0,66144.1,55334.5,-1.925260,-1.307570,1.318430,-1.429150,231595.0,109774.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054706,0,86571.3,43302.4,1.713040,2.247470,2.288400,-1.007160,247858.0,207190.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054707,0,64243.9,59020.2,0.605870,0.335094,1.018730,-2.249690,76400.3,62364.9,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054708,1,62599.8,62278.9,-0.629353,-0.601293,-0.726319,2.435070,75411.9,73880.8,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054710,0,115103.0,33091.4,0.491458,0.850819,-1.802520,1.392690,129286.0,45808.9,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN